.Explore_Origin_container {
  position: fixed;
  top: 93.6%;
  width: 100%;
}

.Explore_Origin_dropdwon {
  display: flex;
  justify-content: center;
}

.Explore_Origin_header {
  position: fixed;
  top: 0;
  width: 100%;
}
