.Header_separating-icons {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.icon_search {
  visibility: hidden;
}
