.ingredients-container {
  background: #ececec;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0.3em;
  width: 93%;
}

.ingredient-button {
  background-color: #c4c4c4;
  height: 2em;
  width: 2em;
}

.ingredient-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  top: 0;
  padding: 0;
}

.marked-ingredient {
  font-size: 22px;
  font-weight: 500;
  text-decoration: line-through;
}

.unmarked-ingredient {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}
