body , html {
  height: 100%;
}

.button {
  background-color: rgb(190, 253, 190);
  border: none;
  font-size: 6mm;
  height: 50px;
  margin: 10px;
  width: 250px;
}

.every-elements {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 6mm;
  margin-top: 30px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
